@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./bio.scss";
@import "./technology.scss";
@import "./project.scss";
@import "./contacts.scss";
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body {
  background-color: #121212;
  color: brown;
  text-align: center;
  margin-top: 100px;
  font-family: 'RocknRoll One', sans-serif;
}

.navbar {
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  font-size: 1.5rem;
}


.navbar-brand {
  color: #faffc7;
  font-size: 1.8rem;
  margin-right: 2rem;
  background-color: #121212;
}

.navbar-brand:hover{
  color: #faffc7;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ea1c2c;
}



.welcome {
  animation: left-to-right 10s ease-in forwards infinite alternate;
}

.welcomeContainer:hover .welcome {
  animation-play-state: paused;
}

@keyframes left-to-right {
  0% {
    color: #baffc9;
    transform: translateX(-50%);
  }
  33% {
    color: #ffffba;
    transform: translateX(50%) translateY(50%);
  }
  66% {
    color: #ffb3ba;
    transform: translateX(-50%) translateY(50%);
  }
  100% {
    color: #bae1ff;
    transform: translateX(50%);
  }
}

.welcomeTitle {
  font-size: 8em;
}

.card-img-top {
  object-fit: scale-down;
}
