@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./bio.scss";
@import "./technology.scss";

body {
  background-color: #eafefe;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}
